<header>
  <i class="mb-header-logo"></i>
  <h1>{{::appStrings[lang].app_name}}</h1>
</header>
<!---------------- EMAILS LIST SECTION ----------------->
<div class="mb-mail-list-section">
  <ul class="mb-mail-list">
    <li ng-repeat="message in emails" id="{{::message.uid}}" ng-class="{'active': activeRow === message.uid}" set-active>
      <h4 title="{{::message.sender}}">{{::message.sender}}</h4>
      <h5 title="{{::message.subject}}">{{::message.subject}}</h5>
      <span class="mb-row-time">{{::message.time_sent | date:'EEE dd MMM, H:MM':"GMT+Z"}}</span>
      <i ng-if="!message.read" class="mb-unread-bulb" title="{{::appStrings[lang].unread}}"></i>
    </li>
  </ul>
</div>
<!-------------- & EMAILS LIST SECTION & --------------->

<!-------------- EMAILS DETAILS SECTION ---------------->
<div class="mb-mail-details-section" ng-show="emails.length > 0">
  <div class="mb-message-details-header">
    <h2>{{activeMessage.sender}}</h2>
    <span class="mb-row-time">{{activeMessage.time_sent | date:'EEE dd MMM, H:MM': "GMT+Z"}}</span>
  </div>
  <div class="mb-message-details-content">
    <i class="mb-delete-message" title="{{::appStrings[lang].delete_msg}}" delete-msg="{{activeMessage.uid}}"></i>
    <h3 class="mb-subject-line">{{activeMessage.subject}}</h3>
    <p class="mb-message-body">{{activeMessage.message}}</p>
  </div>
</div>
<!------------ & EMAILS DETAILS SECTION & -------------->
